@import '../../styles.scss';

.task {
  width: 100%;
  height: 7rem;
  min-height: 7rem;
  border: 1px solid black;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  border-radius: 0.25rem;
  z-index: 2;

  .task-header {
    width: 100%;
    height: 2.5rem;
    max-height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;

    p {
      margin-bottom: 0.5rem;
      margin-right: 0.5rem;
    }

    i {
      color: $primary-lt-gray;
      background-color: transparent;
      font-size: 0.85rem;
      &:hover {
        color: $primary-dk-gray;
      }
    }
  }

  .assigned-user-avatars {
    height: 3rem;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 0.5rem;

    div {
      height: 2rem;
      width: 2rem;
      font-size: 1rem;
      &:hover {
        cursor: default;
      }
    }
  }
}

.edit-task-modal {
  width: 40vw;
  height: 90vh;
  background-color: white;
  border-radius: 6px 6px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .edit-task-modal-header {
    width: 100%;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem;
    border-radius: 5px 5px 0px 0px;
    text-align: left;
  }

  .edit-task-modal-body {
    height: calc(100% - 2.5rem);
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    .edit-task-title {
      height: 15%;
      width: 100%;
      max-height: 4rem;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 0.5rem;
    }

    .task-assigned-users-container {
      height: 35%;
      width: 100%;
      max-height: 15rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 0.5rem;

      .task-assigned-users {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        border: 1px solid lightgray;
        padding: 0.5rem;
        overflow-x: hidden;
        overflow-y: auto;

        .task-assigned-user {
          width: 100%;
          height: auto;
          max-height: 3rem;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          p {
            text-align: left;
            margin: 0.5rem;
          }
        }
      }
    }

    .task-notes-container {
      height: 35%;
      width: 100%;
      max-height: 15rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 0.5rem;

      textarea {
        width: 100%;
        height: 100%;
        resize: none;
        font-size: 0.9rem;
        border: 1px solid lightgray;
      }
    }

    .edit-modal-buttons {
      height: 10%;
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .edit-modal-delete-container {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
      }

      .edit-save-cancel-container {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;

        div {
          margin: 0 12px 12px 0;
        }
      }
    }
  }
  .current-color-box {
    width: 2rem;
    height: 2rem;
  }
}

.unselected-task {
  background-color: rgba(196, 196, 196, 0.8);
  color: rgb(92, 92, 92);

  .task-header {
    i {
      color: rgb(139, 138, 138);
    }
  }
}
