@import '../../styles.scss';

.profile-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;

	.profile-back-button {
		font-size: 2rem;
		position: fixed;
		top: 0;
		left: 0;
		margin: 1rem;
		color: $primary-dk-gray;

		&:hover {
			color: $primary-lt-gray;
		}
	}

	.user-info-container {
		height: 75%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		.profile-avatar-container {
			// margin-bottom: 3rem;
		}

		.change-color-button {
			margin-top: .5rem;
			color: $primary-blue;
			&:hover {
				text-decoration: underline;
				cursor: pointer;
			}
		}

		.profile-color-container {
			p {
				color: white;
				font-size: 1.5rem;
				margin-bottom: .5rem;
			}
		}

		.change-password-container {
			width: 100%;
			height: 1rem;
			margin: 1rem 0;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			p {
				&:hover {
					cursor: pointer;
					text-decoration: underline;
					color: $accent-purple;
				}
			}
		}

		.password-err-msg-container {
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			p {
				color: crimson;
			}
		}

		.profile-button-container {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;

			.profile-button {
				width: 25%;
				margin: 1rem .5rem;
			}

		}
	}
}