@import '../../styles.scss';

.list {
  height: 95%;
  width: 20%;
  min-width: 17rem;
  max-width: 18rem;
  margin-left: 2rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow: hidden;
  border-radius: 5px;

  .list-header {
    width: 100%;
    height: 2.5rem;
    background-color: #4f5d75; // default list header color
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    color: white;
    overflow: hidden;

    p {
      overflow: hidden;
    }
  }

  .list-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0.5rem 0.5rem;
    overflow: auto;
    overflow-x: hidden;
    background-color: rgb(235, 236, 240);
  }

  .list-footer {
    width: 100%;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 1rem;
    font-size: 0.8rem;
    color: gray;
    background-color: rgb(235, 236, 240);

    .list-add-button-container {
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      transition: 0.25s;

      p {
        margin-left: 0.5rem;
      }

      i {
        color: $accent-purple;
      }

      &:hover {
        transition: 0.25s;
        p,
        i {
          color: $accent-purple-hover;
        }
      }
    }

    .list-delete-button:hover {
      // color: darkred;
      color: $accent-orange;
    }
  }
}

.add-task-modal {
  width: 40vw;
  height: 90vh;
  background-color: white;
  border-radius: 6px 6px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .add-task-modal-header {
    height: 5%;
    width: 100%;
    p {
      font-size: 1.2rem;
    }
  }

  .add-task-modal-body {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    .add-task-modal-body-item {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: nowrap;

      p {
        margin-bottom: 0.2rem;
      }
    }

    .add-task-title-container {
      height: 15%;
    }

    .new-task-assigned-users-container {
      height: 40%;

      .new-task-assigned-users {
        height: 100%;
        width: 100%;
        overflow: auto;
        border: 1px solid lightgray;

        .new-task-assigned-user {
          width: 100%;
          height: auto;
          max-height: 3rem;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          p {
            text-align: left;
            margin: 0.5rem;
          }
        }
      }
    }

    .new-task-notes {
      height: 40%;
      width: 100%;

      textarea {
        width: 100%;
        height: 100%;
        resize: none;
        font-size: 0.9rem;
        border: 1px solid lightgray;
      }
    }
  }

  .add-task-modal-footer {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
}

.edit-list-modal {
  width: 40vw;
  height: 90vh;
  background-color: white;
  border-radius: 6px 6px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  .edit-modal-header {
    width: 100%;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem;
    border-radius: 5px 5px 0px 0px;
  }

  .edit-modal-body {
    height: calc(100% - 2.5rem);
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    .edit-modal-body-item {
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .edit-modal-buttons {
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .edit-modal-delete-container {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
      }

      .edit-save-cancel-container {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;

        div {
          margin: 0 12px 12px 0;
        }
      }
    }
  }
  .current-color-box {
    width: 2rem;
    height: 2rem;
  }
}
