@import '../../styles.scss';

.column {
	height: 95%;
	width: 20%;
	min-width: 17rem;
	max-width: 20rem;
	margin-left: 2rem;
	box-shadow: 0 0 15px rgba(0,0,0,.25);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: nowrap;

	.column-header {
		width: 100%;
		height: 3rem;
		background-color: #4F5D75;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: .5rem 1rem;
		font-size: 1.22rem;
		color: white;
	}

	.column-content {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: nowrap;
		padding: 1rem;
		overflow: auto;
	}

	.column-footer {
		width: 100%;
		height: 3rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 1rem;
		font-size: .8rem;
		color: gray;
		
		.column-add-button-container {
			display: flex;
			flex-direction: row;
			align-content: center;
			align-items: center;
			width: 50%;
			height: 100%;
			transition: .25s;

			p {
				margin-left: .5rem;
			}

			&:hover {
				transition: .25s;
				color: $accent-purple-hover;
			}
		}

		.column-delete-button:hover {
			color: darkred;
			// color: $accent-orange;
		}
	}
}