@import '../../styles.scss';

.column {
	height: 95%;
	width: 20%;
	min-width: 17rem;
	max-width: 18rem;
	margin-left: 2rem;
	box-shadow: 0 0 15px rgba(0,0,0,.25);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: nowrap;
	overflow: hidden;
	border-radius: 5px;

	.column-header {
		width: 100%;
		height: 3rem;
		background-color: #4F5D75; // default column header color
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: .5rem .5rem .5rem 1rem;
		font-size: 1.1rem;
		color: white;
	}

	.column-content {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: nowrap;
		padding: .5rem .5rem;
		overflow: auto;
		overflow-x: hidden;
		background-color: rgb(235, 236, 240);
	}

	.column-footer {
		width: 100%;
		height: 3rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 0 0 1rem;
		font-size: .8rem;
		color: gray;
		background-color: rgb(235, 236, 240);
		
		.column-add-button-container {
			display: flex;
			flex-direction: row;
			align-content: center;
			align-items: center;
			width: 50%;
			height: 100%;
			transition: .25s;

			p {
				margin-left: .5rem;
			}

			i {
				color: $accent-purple;
			}

			&:hover {
				transition: .25s;
				p, i {
					color: $accent-purple-hover;
				}
			}
		}

		.column-delete-button:hover {
			// color: darkred;
			color: $accent-orange;
		}
	}
}

.add-task-modal {
	width: auto;
	height: auto;
	background-color: white;
	border-radius: 6px 6px 5px 5px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;

	.add-task-modal-body {
		height: 100%;
		width: 100%;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;

		.add-modal-body-item {
			width: 100%;
			height: auto;
			margin-bottom: 1rem;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-items: flex-start;
		}
	}
}

.edit-column-modal {
	width: 35rem;
	height: 42rem;
	background-color: white;
	border-radius: 6px 6px 5px 5px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	
	.edit-modal-header {
		width: 100%;
		height: 2.5rem;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		padding: 1rem;
		border-radius: 5px 5px 0px 0px;
	}
	
	.edit-modal-body {
		height: 100%;
		width: 100%;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;

		.edit-modal-body-item {
			width: 100%;
			height: auto;
			margin-bottom: 1rem;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-items: flex-start;
		}
		
		.edit-modal-buttons {
			width: 100%;
			position: absolute;
			bottom: 0;
			right: 0;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.edit-modal-delete-container {
				width: 50%;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: flex-end;
			}

			.edit-save-cancel-container {
				width: 50%;
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				align-items: flex-end;

				div {
					margin: 0 12px 12px 0;
				}
			}
		}
	}
	.current-color-box {
		width: 2rem;
		height: 2rem;
	}
}