.column {
	height: 95%;
	width: 20%;
	min-width: 17rem;
	max-width: 20rem;
	margin-left: 2rem;
	box-shadow: 0 0 15px rgba(0,0,0,.25);

	.column-header {
		width: 100%;
		height: 7.5%;
		background-color: #4F5D75;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: .5rem 1rem;
		font-size: 1.22rem;
		color: white;
	}

	.column-content {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: nowrap;
		padding: 1rem;
	}
}