@import '../../styles.scss';

.dashboard {
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   text-align: center;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: flex-start;
   align-items: center;
}

.main-content-container {
   width: calc(100vw - #{$sidebar-width});
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   
   .main-content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      overflow-x: auto;
      overflow-y: hidden;
      position: relative;

      .add-list-button {
         button {
            margin: 0 1rem;
            background-color: #995D81;
            &:hover {
               background-color: #663f56;
            }
         }
      }
   }

   .no-project-prompt-container {
      width: 11rem;
      margin-left: 3rem;
      position: absolute;
      top: 6rem;
      left: 6rem;
      
      .bounce {
         animation: bounce;
         animation-delay: 1s;
         animation-duration: 1.5s;
         animation-iteration-count: 3;
      }

      @keyframes bounce {
         0%,
         20%,
         50%,
         80%,
         100% {
            transform: translateY(0);
         }
         40% {
            transform: translateY(-30px);
         }
         60% {
            transform: translateY(-15px);
         }
      }
   }
}

.list-container {
   width: auto;
   height: calc(100vh - #{$header-height});
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}

.add-list-modal {
   width: 25rem;
   height: 32rem;
   background-color: white;
   color: black;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   border-radius: 5px;

   .add-list-modal-body {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .add-modal-body-item {
			width: 100%;
			height: auto;
			margin-bottom: 1rem;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-items: flex-start;
		}
   }

   .current-color-box {
		width: 2rem;
		height: 2rem;
	}
}