@import '../../../styles.scss';

.user-connection {
	width: 100%;
	height: 3rem;
	min-height: 3rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: .5rem;

	.connection-info-container {
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		.connection-avatar-container {
			margin-right: 1rem;
		}
	
		.connection-name-email-container {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
	
			p:nth-child(2) {
				color: gray;
			}
		}

	}

	.connection-button-container {
		p {
			font-size: .8rem;
			&:hover {
				color: $accent-purple;
			}
		}
	}
}