@import '../../styles.scss';

.add-button {
  i {
    transition: 0.1s ease-in-out;
    -webkit-transition: 0.1s ease-in-out;
    color: $accent-purple;
    &:hover {
      transition: 0.1s ease-in-out;
      -webkit-transition: 0.1s ease-in-out;
      color: #663f56;
    }
  }
}
