@import '../../../styles.scss';

.dashboard {
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   text-align: center;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: flex-start;
   align-items: center;
}

.main-content-container {
   width: calc(100vw - #{$sidebar-width});
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   
   .main-content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      overflow-x: auto;
      overflow-y: hidden;
      position: relative;

      .no-project-prompt-container {
         margin-left: 3rem;
         position: absolute;
         top: 2rem;
         left: 0;

         .bounce {
            animation: bounce 2s infinite;
         }

         @keyframes bounce {

            0%,
            20%,
            50%,
            80%,
            100% {
               transform: translateY(0);
            }

            40% {
               transform: translateY(-30px);
            }

            60% {
               transform: translateY(-15px);
            }
         }
      }
   }
}

.column-container {
   width: auto;
   height: calc(100vh - #{$header-height});
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;

   .column-list {
      width: 100%;
      height: 100%;
      overflow-y: hidden;
      overflow-x: auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
   }
}

.add-list-modal {
   width: auto;
   height: 12rem;
   background-color: white;
   color: black;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   border-radius: 5px;
}