@import '../../../styles.scss';

.dashboard {
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   text-align: center;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: flex-start;
   align-items: center;
}

.main-content-container {
   width: calc(100vw - #{$sidebar-width});
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;

   .main-content {
      width: 100%;
      height: 100%;
   }
}

.column-container {
   width: 100%;
   height: 100%;
   overflow-y: hidden;
   overflow-x: auto;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}