@import '../../styles.scss';

.header {
   width: 100%;
   height: $header-height;
   min-height: $header-height;
   background-color: $primary-lt-gray;;
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   z-index: 3;

   .header-left-container {
      width: 33%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .header-select-container {
         width: 15rem;
         margin: 0 1rem;
      }

      .header-back-container {
         width: 12rem;
         margin: 0;

         * {
               color: $accent-purple;
               font-weight: bold;
         }

         &:hover {
               * {
                  color: $accent-purple-hover;
               }
         }
      }
   }

   .header-right-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 .5rem;

      .header-searchbar-container {
         margin: 0 .5rem;
      }

      i {
         margin: 0 .5rem;
         font-size: 1.5rem;
         color: $accent-purple;
         &:hover {
            color: $accent-purple-hover;
         }
      }
   }
}

.header-link {
   text-decoration: none;
   color: black;
   &:hover {
      color: $accent-purple;
   }
}

.add-project-modal {
   width: auto;
   height: 12rem;
   background-color: white;
   color: black;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   border-radius: 5px;
}