@import '../../styles.scss';

.project-settings-main {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 1rem;

   .project-settings-header {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 2rem;
      p {
         font-size: 1.25rem;
      }
   }
   
   .project-settings-body {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      .project-setting {
         display: flex;
         margin-left: 1rem;
      }

      .project-title-input-container {
         flex-direction: column;
         justify-content: flex-start;
         align-items: flex-start;
         margin-bottom: 2rem;

         .edit-project-title-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .save-new-project-title {
               margin-left: .5rem;
               color: green;
            }

            p, i {
               margin: .5rem 1rem 0 0;
            }

            i {
               color: rgb(180, 180, 180);
               &:hover {
                  color: rgb(75, 75, 75);
               }
            }
         }

         input {
            color: rgb(75, 75, 75);
         }
      }

      .project-permissions-container {
         height: 100%;
         width: 50%;
         display: flex;
         flex-direction: column;
         justify-content: flx-start;
         align-items: flex-start;
         margin-bottom: 2rem;

         .permission-switch {
            width: 50%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            p {
               color: rgb(75, 75, 75);
            }
         }
      }

      .delete-project-container {
         display: flex;
         flex-direction: row;
         justify-content: flex-start;
         align-items: flex-end;
         width: auto;

         p {
            padding: .25rem;
         }

         button {
            padding: .25rem;
         }

         p, button {
            color: rgba(183, 28, 28, 1);
         }
      }
   }
}